# Entornos virtuales locales
.venv/
env/
venv/
envdata/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Datos (No incluir en la imagen, usar Volúmenes)
data/**
!data/.gitkeep

# Notebooks (Pesados y no necesarios para producción)
notebooks/

# IDE y Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db
.git/

# Misceláneo
Dockerfile*
docker-compose*
README.md
docs/
scripts/
